	<div class="comment-thread">
		<div class="comment-entry">
			<div class="comment-likedate-container">
				<input type="hidden" class="comment-like" name="_id" value="{{ _id }}"/>
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">{{likesBy.length}}</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time"><a href="/view-profile?username={{username}}">{{username}}</a> | {{postingTime}}<p>
			</div>
			<p class="text-post">
				{{textContent}}
				{{#if imageContent}}<img class="image-post" src="./{{imageContent }}">{{/if}}
			</p>
			{{#if this.isOwnComment }}
				<div class="viewpost-btns">
					<a class="deletecommentbtn-viewpost">Delete Comment</a><a class="editcommentbtn-viewpost">Edit Comment</a> 
				</div>
			{{/if}}

			<div class="editcomment-container"></div>
		</div>
		
		<!--{{#each commentchilds}}
			{{> commentchild this}}
		{{/each}} -->
	</div>