	<div class="comment-thread">
		<div class="comment-entry">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">{{likesBy.length}}</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">{{username}} | {{postingTime}}<p>
			</div>
			<p class="text-post">
				{{textContent}}
				{{#if imageContent}}<img class="image-post" src="./{{imageContent }}">{{/if}}
			</p>
		</div>
		
		<!--{{#each commentchilds}}
			{{> commentchild this}}
		{{/each}} -->
	</div>