		<div class="comment-entry2">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">{{comment.numLikes}}</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">{{comment.username}} | {{comment.postingTime}}<p>
			</div>
			<p class="text-post">
                {{comment.textContent}}
				{{comment.imageContent}}
			</p>
		</div>