<div class="post-entry" onclick="location.href='view_post.html';">
		<div class="comment-likedate-container">
			<img class="normal-like-button" src="../public/images/like.png" alt="like button">
			<h2 class="normal-like-count"> {{ numLikes }} </h2>
			<h5 class="thread-title"> {{ title }} <h5>
			<p class="post-poster-time">posted by: {{ username }} | {{ postingTime }}<p>
		</div>
		<p class="text-post">
			{{ numComments }} comment(s)
		</p>
</div>
