<form method="get" action='/view-post' enctype="multipart/form-data">
	<input type="hidden" name="_id" value="{{_id}}"/>
	<button type="submit" class="post-entry">
			<div class="comment-likedate-container">
				<input type="hidden" class="post-like" name="_id" value="{{_id}}"/>
				<img class="normal-like-button" src="../public/images/like.png" alt="like button">
				<h2 class="normal-like-count"> {{ likesBy.length }} </h2>
				<h5 class="thread-title"> {{ title }} <h5>
				<p class="post-poster-time">posted by: {{ username }} | {{ postingTime }}<p>
			</div>
			<p class="text-post">
				{{ numComments }} comment(s)
			</p>
	</button>
</form>
