<!-- A post{} and comment[] will be passed to this hbs -->
<div class="main_content">
		<p class>// <a href="/home">Home</a> > {{ post.title }}</p>
		<p class="post-poster-time">posted by: {{ post.username }} | {{ post.postingTime }}<p>
		
	<div class="post-header">
		<img class="normal-like-button" src="images/like.png">
		<h2 class="normal-like-count">{{ post.likesBy.length }}</h2>
		
		<h1 class="post-title">&nbsp&nbsp{{ post.title }}</h1>
		
		{{#if post.imageContent}}<img class="image-post" src="./{{ post.imageContent }}">{{/if}}
	</div>
	
	<p class="text-post">
		{{ post.textContent }}
	</p>
	
</div>

<div class="comments">
	<h1>Comments</h1>
	<form action="/comment-post" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_id" value="{{_id}}"/>
	<textarea class="comment-box" name="textContent" wrap="soft" rows="14" cols="10" placeholder="Write here..."></textarea>
	<div class="comment-buttons"> 
		<input type="file" accept="image/*" value="Attach media" name="imageContent" class="searchsubmit" /> 
		<input type="submit" value="Post comment" class="searchsubmit"/>
	</div>
	</form>
	
	{{#each comments}}
		{{> comment this}}
	{{/each}}
	{{!--<div class="comment-thread">
		<div class="comment-entry">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">420</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">username123 | 7 hours ago<p>
			</div>
			<p class="text-post">
				anya best girl
			</p>
		</div>
		<div class="comment-entry2">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">120</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">username456 | 6 hours ago<p>
			</div>
			<p class="text-post">
				no yor best girl
			</p>
		</div>
		<div class="comment-entry2">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">90</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">username789 | 6 hours ago<p>
			</div>
			<p class="text-post">
				loid best girl
			</p>
		</div>
		<div class="comment-entry3">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">5</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">xXgamerXx | 4 hours ago<p>
			</div>
			<p class="text-post">
				your opinion is wrong
			</p>
		</div>
		<div class="comment-entry2">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">20</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">username1010 | 5 hours ago<p>
			</div>
			<p class="text-post">
				yikes
			</p>
		</div>
	</div>
	
	<div class="comment-thread">
		<div class="comment-entry">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">12420</h2>
				<h6 class="comment-reply">Reply | Edit<h6>
				<p class="post-poster-time">okawaiikoto | 6 hours ago<p>
			</div>
			<p class="text-post">
				ARF ARF ARF ARF! WOOF WOOF WOOF WOOF, BARK, BARK, BARK
			</p>
		</div>
	</div>
	
	<div class="comment-thread">
		<div class="comment-entry">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">420</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">Strange_man | 420 years ago<p>
			</div>
			<p class="text-post">
				Dormammu, I've come to bargain.
			</p>
		</div>
		<div class="comment-entry2">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">256</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">username123 | 7 hours ago<p>
			</div>
			<p class="text-post">
				wait what
			</p>
		</div>
	</div>
	
	<div class="comment-thread">
		<div class="comment-entry">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">124</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">erisssama | 5 hours ago<p>
			</div>
			<p class="text-post">
				This anime made me realize that the real mission impossible is parenthood
			</p>
		</div>
	</div>
	
	<div class="comment-thread">
		<div class="comment-entry">
			<div class="comment-likedate-container">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">234</h2>
				<h6 class="comment-reply">Reply<h6>
				<p class="post-poster-time">helpme444 | 4 hours ago<p>
			</div>
			<p class="text-post">
				this anime does an excellent job of balancing fun espionage action with heartwarming family
				moments, with little  Anya's innocent love tying this strange trio together <3
			</p>
		</div>
	</div>--}}
</div>
<div class="ending-margin"></div>