<div class="main_content_profile">
	<p>// Profile</p>
		<div class="profile-container">
			<div class="profile-left-container">
				<div class="profile-image">
					<h2 class="username-profile">{{ this.profileUsername }}'s Profile</h2>
					<img class="profile-pic-profile" src="./{{ this.profileImg }}" />
				</div>
				
				<div class="quote-container">
					<h3 class="quote-header-profile">Favorite Quote</h3>
					<p class="quote-text-profile" >
						{{ this.faveQuote }}
					</p>
				</div>  

				<div class="bio-container">
					<h3 class="bio-header-profile">Bio</h3>
					<p class="bio-text-profile" >
						{{ this.bio }}
					</p>
				</div>
				
				<div class="recentactivity-container">
					<h3 class="recentactivity-header-profile">Recent Activity</h3>
					<p class="recentactivity-text-profile">
						12/30/20: Commented on username321's post <br>
						12/25/20: Made a post <br>
						12/20/20: Commented on username436's post
					</p>
				</div>
			</div>
			
			<div class="profile-right-container">
				<h3 class="favechar-header-profile">{{ this.profileUsername }}'s Favorite Character</h3>
				<img src="./{{ this.faveCharImg }}" class="favechar-img-profile"/>
					
				{{#if this.isOwnProfile}}
				<a href="/edit-profile"><button class="editprofilebtn-viewprofile">Edit Profile</button></a>
				{{/if}}
			</div>  
</div>