<!-- A post{} and comment[] will be passed to this hbs -->
<div class="main_content">
		<p class>// <a href="/home">Home</a> > {{ post.title }}</p>
		<p class="post-poster-time">posted by: <a href="/view-profile?username={{post.username}}"> {{ post.username }} </a> | {{ post.postingTime }}<p>
		
	<div class="post-header">
		<input type="hidden" class="post-like" name="_id" value="{{_id}}"/>
		<img class="normal-like-button" src="images/like.png">
		<h2 class="normal-like-count">{{ post.likesBy.length }}</h2>
		
		<h1 class="post-title">&nbsp&nbsp{{ post.title }}</h1>
		
		{{#if post.imageContent}}<img class="image-post" src="./{{ post.imageContent }}">{{/if}}
	</div>
	
	<p class="text-post">
		{{ post.textContent }}
	</p>
	{{#if this.isOwnPost }}
		<div class="viewpost-btns">
			<a class="deletepostbtn-viewpost">Delete Post</a><a class="editpostbtn-viewpost">Edit Post </a> 
		</div>
	{{/if}}

	<div class="editpost-container"></div>
	

	
</div>

<div class="comments">
	<h1>Comments</h1>
	<form action="/comment-post" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_id" value="{{ _id }}"/> 
	<textarea class="comment-box" name="textContent" wrap="soft" rows="14" cols="10" placeholder="Write here..."></textarea>
	<div class="comment-buttons"> 
		<input type="file" accept="image/*" value="Attach media" name="imageContent" class="searchsubmit" /> 
		<input type="submit" value="Post comment" class="searchsubmit"/>
	</div>
	</form>
	
	{{#each comments}}
		{{> comment this}}
	{{/each}}
</div>
<div class="ending-margin"></div>